<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>PredictCu</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<img src="C:/Users/1234/Desktop/heroku/flower.jpeg">

<body style="background-color:#8c03fc;">
 <div class="login">
	<h1><i>Predict BF Cu Recov</i></h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="cu_pct" placeholder="cu_pct" required="required" />
        <input type="text" name="au_gt" placeholder="au_gt" required="required" />
		<input type="text" name="ag_gt" placeholder="ag_gt" required="required" />
        <input type="text" name="fem_pct" placeholder="fem_pct" required="required" />


        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>